RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
RESEND_FROM=Saijers Antik <kontakt@saijersantik.de>
SAIJERS_LETTER_TO=ihre-email@example.de
SAIJERS_CONTACT_TO=ihre-email@example.de
RESEND_BUY_REQUEST_TEMPLATE_ID=ihre-ankauf-anfrage-bei-saijers-antik
NEXT_PUBLIC_GOOGLE_ADS_ID=AW-16674918848
NEXT_PUBLIC_GOOGLE_ADS_CONTACT_CONVERSION_LABEL=CxV7CNnPlsEcEMCjnI8-
NEXT_PUBLIC_GOOGLE_ADS_LETTER_CONVERSION_LABEL=xxxxxxxxxxxxxxxx
